<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="~/customer/style/style.css" rel="stylesheet" />
	<link href="~/customer/style/all.min.css" rel="stylesheet" />
	<link href="~/customer/style/normalize.css" rel="stylesheet" /> 
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>   
    
        @RenderBody()
    
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-chevron-up"></i></button>
    <!-- End Extra Icon  -->
    <script src="~/customer/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
