@model Category
@{
    ViewBag.PageTitle = "Category Managment";
    ViewBag.CardTitle = "Create Category";
    ViewData["Title"] = "Create Category";
}
<div class="row">
	<div class="col-md-4">
		<form method="post" action="Create" enctype="multipart/form-data">
			<div class="mb-3">
				<label asp-for="Name"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="ImageUrl"></label>
				<input type="file" name="file" id="imgfile" class="form-control" />
				<span asp-validation-for="ImageUrl" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<button type="submit" class="btn btn-primary">Create</button>
				<a asp-action="Index" class="btn btn-warning">Back to Category</a>
			</div>
		</form>
	</div>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial"></partial>
}